extends ../layout/admin

block contenido
    h2(class="text-2xl font-bold text-center my-10")= pagina

    a(
        href="/mis-propiedades" 
        class="rounded py-2 bg-customPink text-white p-4 hover:bg-customPinkHover text-sm font-extrabold text-center uppercase my-5 w-full sm:w-auto inline-block px-10"
    ) 
        | Volver

    //- pre= JSON.stringify(mensaje, undefined, 2)

    div(class="mx-auto max-w-4xl bg-white shadow")
        if mensajes && mensajes.length 
            ul 
                each mensaje in mensajes 
                    li(class="border-gray-200 border-b p-5")
                        p(class="font-bold text-gray-800") Nombre: 
                            span(class="font-normal")= mensaje.usuario.nombre

                        p(class="font-bold text-gray-800") Email: 
                            span(class="font-normal")= mensaje.usuario.email
                        
                        p(class="font-bold text-gray-800") Mensaje: 
                            span(class="font-normal")= mensaje.mensaje

                        p(class="font-bold text-gray-800") Enviado: 
                            span(class="font-normal")= formatearFecha( mensaje.createdAt )
        else 
            p(class="text-center text-gray-600 p-5") No hay mensajes
